*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
    background-color: grey;
}
body
{
    width: 640px;
    margin:0 auto;
    background-color: white;
    position: relative;
}
header
{
    width: 100%;
    background-image: url(../images/2.png);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
main
{
    position: relative;
    width: 100%;
}
footer
{
    background-color: rgb(203, 222, 223);
    height: 100px;
    display: flex;
}
img
{
    vertical-align: middle;
}
.shizi
{
    position: absolute;
    top: 20px;
    right: 30px;
}
.tubiao
{
    position: absolute;
    top: 180px;
    left: 125px;
}
span
{
    display: inline-block;
    width: 25%;
    text-align: center;
    padding-top: 20px;
}
span>img
{
    height: 30px;
}
.footer
{
    color: rgb(0, 171, 87);
    font-size: 20px;
    padding-top: 10px;
}



